h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    text-align: left;
    padding-left: 5%;
}

h3 {
    font-size: large;
    text-align: left;
    padding-left: 10%;
}

.goal {
    font-size: x-large;
    text-align: match-parent;
    color:gold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
